
*{
    padding: 0px;
    margin: 0;
}
.head{
    text-align: center;
    padding-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 50px;
}
.body{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.image1{
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}
.image2{
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}
.image3{
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
}
.image1>img{
    height: 250px;
    width: 300px;
    border-radius: 20px;
}
.image2>img{
    height: 250px;
    width: 300px;
    border-radius: 20px;
}
.image3>img{
    height: 250px;
    width: 300px;
    border-radius: 20px;
}
h2{
    padding-top: 15px;
    text-align: center;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    padding: 10px;
    border-radius: 15px;
    margin-left: 100px;
    width:100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 30px;
}
button:hover {
    background-color: burlywood ; 
    cursor: pointer; 
    transform: scale(1.09); 
}